<table class="table">
  <thead>
    <tr>
      <th scope="col">User agent</th>
      <th scope="col">IP address</th>
      <th scope="col">Active since</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>

    <% sessions.each do |session| %>
      <tr>
        <td><%= session.user_agent %></td>
        <td><%= session.ip_address %></td>
        <td><%= session.created_at %></td>
        <td><%= button_to "Log out", session, method: :delete, class: 'btn btn-sm btn-outline-warning' %></td>
      </tr>
    <% end %>

  </tbody>
</table>
