<h5>Devices & Sessions</h5>

<%= render partial: 'sessions', locals: { sessions: @sessions } %>

<div class="container">

  <div class="row">
    <div class="col">
      <%= render partial: 'pagination', locals: { pagination: @pagination } %>
    </div>

    <div class="col">
      <%= button_to 'Log out all but current', destroy_all_but_current_sessions_path, method: :delete, class: 'btn btn-outline-warning float-end' %>
    </div>
  </div>
</div>
