<%# locals: (distro:) -%>

<% if distro.deprecated? %>
  <span class="text-warning">Deprecated
    <%= link_to deprecated_distro_path_path(distro.id) do %>
      <i class="bi bi-question-circle-fill"></i>
    <% end %>
  </span>
<% end %>
