<%# locals: (repository:) -%>

<span id="<%= dom_id(repository, :publishing_status) %>">

  <% case repository.publish_status %>
  <% when 'published' %>
    <i class="bi bi-check-circle-fill text-success m-1"></i>
    <span>Published <span><%= time_ago_in_words(repository.published_at) %> ago</span></span>
  <% when 'pending' %>
    <% if repository.last_publish_error %>
      <i class="bi bi-exclamation-circle-fill text-danger m-1"></i>
      <span>Last publish error</span>
    <% else %>
      <i class="bi bi-alarm-fill m-1"></i>
      <span>Pending publish</span>
    <% end %>
  <% when 'publishing' %>
    <span class="spinner-border spinner-border-sm m-1" aria-hidden="true"></span>
    <span>Publishing...</span>
  <% end %>

</span>
