<%# locals: (repository:) -%>

<% case repository.publish_status %>
<% when 'published' %>
  <i class="bi bi-check-circle-fill text-success"></i>
  <small class="text-body-secondary">Published <span><%= time_ago_in_words(repository.published_at) %> ago</span></small>
<% when 'pending' %>
  <% if repository.last_publish_error %>
    <i class="bi bi-exclamation-circle-fill text-danger"></i>
    <small class="text-body-secondary">Last publish error</small>
  <% else %>
    <i class="bi bi-alarm-fill"></i>
    <small class="text-body-secondary">Pending publish</small>
  <% end %>
<% when 'publishing' %>
  <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
  <small class="text-body-secondary">Publishing...</small>
<% end %>
