<h5>Repositories</h5>

<div class="container pt-3">
  <div class="vstack gap-3">
    <% @repositories.each do |repo| %>
      <%= render partial: 'repositories/list_item', locals: { repo: repo } %>
    <% end %>
  </div>

  <div class="pt-3">
    <%= link_to 'Create new repository', new_repository_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
