<h5>Tasks</h5>

<div class="container pt-3">
  <%= render partial: 'tasks/tasks_list', locals: { tasks: @tasks } %>
  
  <div class="pt-3">
    <%= render partial: 'layouts/pagination', locals: { pagination: @pagination } %>
  </div>

  <div class="pt-3">
    <%= link_to "Agents", agents_path %>
  </div>

</div>
