<h5>Configure custom repository storage for <%= link_to @custom_repository_storage.project.name, project_path(@custom_repository_storage.project) %></h5>

<div class="container pt-3">
  <div class="card p-3 shadow mb-3 bg-body-tertiary rounded mx-auto">
    <div class="card-body">
      <%= render partial: 'form', locals: { custom_repository_storage: @custom_repository_storage } %>
    </div>
  </div>

  <% unless @custom_repository_storage.new_record? %>
    <div class="btn-group pt-3" role="group" aria-label="actions buttons">
      <%= button_to 'Delete custom storage config', project_custom_repository_storage_path(@custom_repository_storage.project), method: :delete, class: 'btn btn-link link-danger', form: { data: { turbo_confirm: "All respositories will switch to built-in storage. You'll have to re-pubish all of them to upload the files. Old files in this custom storage will no be deleted. Continue?" } } %>
    </div>
  <% end %>
</div>
