[Unit]
Description=OmniPackage web Caddy
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/debian/omnipackage-web
Environment=HOME=/root
ExecStart=caddy run --config deploy/51.75.147.84/Caddyfile

RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
