<%# locals: (key_source:) -%>

<ul>
  <% if key_source.is_a?(::Repository) %>
    <li><%= link_to key_source.bucket, repository_path(key_source) %></li>
  <% else %>
    <% current_user.repositories.without_own_gpg_key.find_each do |repo| %>
      <li><%= link_to repo.bucket, repository_path(repo) %></li>
    <% end %>
  <% end %>
</ul>
