<h1>Agents</h1>

<h3>Public agents</h3>
<%= render partial: 'list', locals: { agents: @agents_public } %>

<h3>Your private agents</h3>
<%= render partial: 'list', locals: { agents: @agents_private } %>

<%= link_to 'Create new agent', new_agent_path, class: 'btn btn-outline-primary' %>
