<h1>Agents</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Last seen</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>

    <% @agents.each do |agent| %>
      <tr class=<%= agent.offline? ? 'table-danger': 'table-success' %> >
        <td><%= agent.id %></td>
        <td><%= agent.last_seen_at %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>

  </tbody>
</table>
