<%# locals: (repository:) -%>

<div class="card" id="<%= dom_id(repository) %>">
  <div class="card-body">

    <h6 class="card-title">
      <%= link_to repository.distro.name, repository_path(repository), class: 'card-link' %>
    </h6>

    <div class="card-text">
      <%= render partial: 'repositories/publishing_status', locals: { repository: repository } %>
    </div>
  </div>
</div>
