<%# locals: (repositories:) -%>

<div class="vstack gap-2">
  <% repositories.ordered.group_by { |repo| repo.distro.family }.each do |family, repos| %>
    <div class="row align-items-center">
      <div class="col-md-auto m-2">
        <%= render partial: 'distro_icon', locals: { family: family, size: 48 } %>
      </div>

      <div class="col">
        <div class="card-group">
          <% repos.each do |repo| %>
            <div class="card">
              <div class="card-body">

                <h6 class="card-title">
                  <%= link_to repo.distro.name, repository_path(repo), class: 'card-link' %>
                </h6>

                <div class="card-text text-body-secondary fw-light">
                  <%= render partial: 'repositories/publishing_status', locals: { repository: repo } %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  <% end %>
</div>
