<%# locals: (repositories:) -%>

<div class="vstack gap-2">
  <% repositories.group_by { |repo| repo.distro.family }.each do |family, repos| %>
    <div class="row align-items-center">
      <div class="col-md-auto">
        <%= render partial: 'layouts/distro_icon', locals: { family: family, size: 48 } %>
      </div>

      <div class="col">
        <div class="card-group">
          <% repos.each do |repo| %>
            <%= render partial: 'projects/repo', locals: { repo: repo } %>
          <% end %>
        </div>
      </div>

    </div>
  <% end %>
</div>
