<%# locals: (project:) -%>

<div class="btn-group" role="group" aria-label="ci manage">
  <% if project.sources_verified? %>
    <%= button_to 'Build now', tasks_path(project_id: project.id, skip_fetch: 'y'), method: :post, class: 'btn btn-link btn-sm' %>
  <% end %>
  <%= link_to 'Webhooks', project_webhooks_path(project), class: 'btn btn-link btn-sm' %>
  <%= link_to 'Tasks', tasks_path(project_id: project.id), class: 'btn btn-link btn-sm' %>
</div>
