<div class="row">
  <div class="col-9">
    <h1>Edit project <%= @project.name %></h1>
  </div>

  <div class="col-3 text-end">
    <%= button_to 'Delete this project', project_path, method: :delete, class: 'btn btn-outline-danger' %>
  </div>
</div>

<%= render partial: 'form', locals: { project: @project } %>
