<div class="row">
  <div class="col">
    <h1>Projects</h1>
  </div>

  <div class="col text-end">
    <%= link_to 'Create new project', new_project_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<% @projects.each do |project| %>
  <div class="card">
    <div class="card-header">
      <%= project.name %>
    </div>

    <div class="card-body">
      <% project.distros.each do |distro| %>
        <span class="badge text-bg-secondary"><%= distro.name %></span>
      <% end %>

      <p class="card-text">
        <%= link_to 'More', project_path(project.id), class: 'card-link' %>
      </p>
    </div>
  </div>
  <br>
<% end %>
