<h5>Projects</h5>

<div class="container pt-2">
  <div class="vstack gap-3">
    <% @projects.each do |project| %>
      <%= render partial: 'project', locals: { project: project } %>
    <% end %>
  </div>

  <div class="pt-3">
    <%= render partial: 'pagination', locals: { pagination: @pagination } %>
  </div>

  <div class="pt-3">
    <%= link_to new_project_path, class: 'btn btn-primary' do %>
      <i class="bi bi-plus-circle"></i> Add new project
    <% end %>
  </div>
</div>
