default: &default
  container_runtime: podman
  image_cache_enable: false
  repositories:
    bucket: 'repositories'
  links:
    docs:         'https://docs.omnipackage.org'
    home:         'https://omnipackage.org/'
    about:        'https://omnipackage.org/about'
    privacy:      'https://omnipackage.org/privacy'
    transparency: 'https://omnipackage.org/transparency'

development:
  <<: *default
  links:
    docs:         'http://localhost:8000/'
    home:         'http://localhost:4000'
    about:        'http://localhost:4000/about'
    privacy:      'http://localhost:4000/privacy'
    transparency: 'http://localhost:4000/transparency'

test:
  <<: *default

production:
  <<: *default
  disable_registration: false
  image_cache_enable: true
  repositories:
    bucket: 'repositories'
    bucket_public_url: 'https://repositories.omnipackage.org'
