opensuse: &opensuse
  package_type: 'rpm'
  setup:
  - 'zypper --non-interactive install -y -t pattern devel_basis devel_rpm_build'
  - 'zypper --non-interactive install -y rpmdevtools %{build_dependencies}'
  setup_repo:
  - 'zypper --non-interactive install -y createrepo_c'
  install_steps:
  - 'zypper addrepo %{url}/%{project_safe_name}.repo'
  - 'zypper refresh'
  - 'zypper install %{installable_package_name}'

debian: &debian
  package_type: 'deb'
  setup:
  - 'DEBIAN_FRONTEND=noninteractive apt-get update'
  - 'DEBIAN_FRONTEND=noninteractive apt-get install -y build-essential debhelper %{build_dependencies}'
  setup_repo:
  - 'DEBIAN_FRONTEND=noninteractive apt-get update'
  - 'DEBIAN_FRONTEND=noninteractive apt-get -y install dpkg-dev'
  install_steps:
  - "echo 'deb %{url} stable/' | sudo tee /etc/apt/sources.list.d/omnipackage_%{project_safe_name}.list"
  - "curl -fsSL %{url}/stable/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/omnipackage_%{project_safe_name}.gpg > /dev/null"
  - "sudo apt update"
  - "sudo apt install %{installable_package_name}"

redhat: &redhat
  package_type: 'rpm'
  setup:
  - 'dnf install -y --allowerasing rpmdevtools tar %{build_dependencies}'
  setup_repo:
  - 'dnf install -y --allowerasing createrepo rpm-sign'
  install_steps:
  - "curl -o /etc/yum.repos.d/%{project_safe_name}.repo %{url}/%{project_safe_name}.repo"
  - "dnf install %{installable_package_name}"

distros:
- id: 'opensuse_15.3'
  name: 'openSUSE Leap 15.3'
  image: 'opensuse/leap:15.3'
  <<: *opensuse
  arch: x86_64

- id: 'opensuse_15.4'
  name: 'openSUSE Leap 15.4'
  image: 'opensuse/leap:15.4'
  <<: *opensuse
  arch: x86_64

- id: 'opensuse_tumbleweed'
  name: 'openSUSE Tumbleweed'
  image: 'opensuse/tumbleweed'
  <<: *opensuse
  arch: x86_64

- id: 'fedora_38'
  name: 'Fedora 38'
  image: 'fedora:38'
  <<: *redhat
  arch: x86_64

- id: 'fedora_39'
  name: 'Fedora 39'
  image: 'fedora:39'
  <<: *redhat
  arch: x86_64

- id: 'debian_10'
  name: 'Debian 10 Buster'
  image: 'debian:10'
  <<: *debian
  arch: x86_64

- id: 'debian_11'
  name: 'Debian 11 Bullseye'
  image: 'debian:11'
  <<: *debian
  arch: x86_64

- id: 'debian_12'
  name: 'Debian 12 Bookworm'
  image: 'debian:12'
  <<: *debian
  arch: x86_64

- id: 'ubuntu_22.04'
  name: 'Ubuntu 22.04 LTS Jammy Jellyfish'
  image: 'ubuntu:22.04'
  <<: *debian
  arch: x86_64

- id: 'ubuntu_23.04'
  name: 'Ubuntu 23.04 Lunar Lobster'
  image: 'ubuntu:23.04'
  <<: *debian
  arch: x86_64

- id: 'ubuntu_23.10'
  name: 'Ubuntu 23.10 Mantic Minotaur'
  image: 'ubuntu:23.10'
  <<: *debian
  arch: x86_64

- id: 'mageia_8'
  name: 'Mageia 8'
  image: 'mageia:8'
  <<: *redhat
  arch: x86_64

- id: 'mageia_cauldron'
  name: 'Mageia Cauldron'
  image: 'mageia:cauldron'
  <<: *redhat
  arch: x86_64

- id: 'almalinux_8'
  name: 'AlmaLinux 8'
  image: 'almalinux:8'
  <<: *redhat
  arch: x86_64

- id: 'almalinux_9'
  name: 'AlmaLinux 9'
  image: 'almalinux:9'
  <<: *redhat
  arch: x86_64

- id: 'rockylinux_8'
  name: 'Rocky Linux 8'
  image: 'rockylinux:8'
  <<: *redhat
  arch: x86_64

- id: 'rockylinux_9'
  name: 'Rocky Linux 9'
  image: 'rockylinux:9'
  <<: *redhat
  arch: x86_64
