test:
  service: Disk
  root: <%= ::Rails.root.join('tmp/storage') %>

local:
  service: S3
  endpoint: 'http://zenbook:9000'
  access_key_id: <%= ::Rails.application.credentials.minio.access_key_id %>
  secret_access_key: <%= ::Rails.application.credentials.minio.secret_access_key %>
  region: us-east-1
  bucket: activestorage
  force_path_style: true

cloudflare:
  service: S3
  endpoint: 'https://3f7292a50c87b7d08441e63354e2c433.r2.cloudflarestorage.com'
  access_key_id: <%= ::Rails.application.credentials.cloudflare.access_key_id %>
  secret_access_key: <%= ::Rails.application.credentials.cloudflare.secret_access_key %>
  bucket: activestorage
  region: auto
  force_path_style: true
  request_checksum_calculation: 'when_required'
  response_checksum_validation: 'when_required'

# Use bin/rails credentials:edit to set the AWS secrets (as aws:access_key_id|secret_access_key)
amazon:
   service: S3
   endpoint: https://s3.eu-central-1.amazonaws.com
   access_key_id: <%= ::Rails.application.credentials.aws.access_key_id %>
   secret_access_key: <%= ::Rails.application.credentials.aws.secret_access_key %>
   region: eu-central-1
   bucket: omnipackage-activestorage
   force_path_style: true

minio_production:
  service: S3
  endpoint: 'https://storage.omnipackage.org'
  access_key_id: <%= ::Rails.application.credentials.minio_production.access_key_id %>
  secret_access_key: <%= ::Rails.application.credentials.minio_production.secret_access_key %>
  region: us-east-1
  bucket: activestorage
  force_path_style: true

# Remember not to checkin your GCS keyfile to a repository
# google:
#   service: GCS
#   project: your_project
#   credentials: <%= Rails.root.join("path/to/gcs.keyfile") %>
#   bucket: your_own_bucket-<%= Rails.env %>

# Use bin/rails credentials:edit to set the Azure Storage secret (as azure_storage:storage_access_key)
# microsoft:
#   service: AzureStorage
#   storage_account_name: your_account_name
#   storage_access_key: <%= Rails.application.credentials.dig(:azure_storage, :storage_access_key) %>
#   container: your_container_name-<%= Rails.env %>

# mirror:
#   service: Mirror
#   primary: local
#   mirrors: [ amazon, google, microsoft ]
