https://web.omnipackage.org {
	file_server
	root public/

	@notStatic {
		not file
	}
	reverse_proxy @notStatic 127.0.0.1:30000

	encode zstd gzip
}

https://storage.omnipackage.org {
  handle /minio* {
    reverse_proxy 127.0.0.1:9001
  }

  handle * {
    reverse_proxy * 127.0.0.1:9000
  }
}
