https://web.omnipackage.org {
	file_server
	root public/

	@notStatic {
		not file
	}
	reverse_proxy @notStatic 127.0.0.1:30000

	encode zstd gzip
}

https://storage.omnipackage.org {
  route {
    reverse_proxy /minio 127.0.0.1:9001
    reverse_proxy * 127.0.0.1:9000
  }
}
