[Unit]
Description=OmniPackage embedded agents
After=network.target

[Service]
Type=simple
Environment=RAILS_ENV=production
Environment=RAILS_LOG_TO_STDOUT=1
Environment=EMBEDDED_AGENTS_APIHOST=http://localhost:30000
WorkingDirectory=/home/rocky/omnipackage-web
ExecStart=/home/rocky/.rbenv/bin/rbenv exec bundle exec rails embedded_agents:run

User=rocky
Group=rocky
UMask=0002
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
