[Unit]
Description=OmniPackage web Puma
After=network.target

[Service]
Type=simple
Environment=RAILS_ENV=production
Environment=RAILS_LOG_TO_STDOUT=1
WorkingDirectory=/home/debian/omnipackage-web
ExecStart=/bin/bash -lci 'bundle exec puma -C config/puma/production.rb'

User=debian
Group=debian
UMask=0002
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
