[Unit]
Description=OmniPackage web Sidekiq %n
After=network.target

[Service]
Type=simple
Environment=RAILS_ENV=production
WorkingDirectory=/home/rocky/omnipackage-web
ExecStart=/home/rocky/.rbenv/bin/rbenv exec bundle exec sidekiq -C config/sidekiq/%i.yml -t 120

User=rocky
Group=rocky
UMask=0002
RestartSec=1
Restart=on-failure
TimeoutStopSec=121

[Install]
WantedBy=multi-user.target
