<%# locals: (family:, repos:) -%>

<div class="row align-items-center">

  <div class="col-md-auto">
    <%= render partial: 'layouts/distro_icon', locals: { family: family, size: 64 } %>
  </div>

  <div class="col-md-11">
    <%= render partial: 'installs/repos', locals: { family: family, repos: repos } %>
  </div>

</div>
