<div class="p-3">
  <div class="container-fluid py-3">

    <div class="row align-items-center">
      <div class="col">
        <%= render partial: 'projects/public_info', locals: { project: @project } %>
      </div>

      <div class="col">
        <%= render partial: 'identity/accounts/public_profile', locals: { user: @project.user } %>
      </div>
    </div>

  </div>
</div>

<div class="container p-3">
  <div class="vstack gap-5 pt-3">
    <% @repositories.group_by { |repo| repo.distro.family }.each do |family, repos| %>
      <div class="row align-items-center">
        <div class="col-md-auto m-2">
          <%= render partial: 'distro_icon', locals: { family: family, size: 64 } %>
        </div>

        <div class="col-md-11">
          <%= render partial: 'installs/repos', locals: { family: family, repos: repos } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
