<script>
  function getTurnstileHiddenElement() {
    return document.getElementById("hidden-until-captcha-callback");
  }

  function turnstileCallback(token) {
    console.info("Turnstile success", token);
    const elem = getTurnstileHiddenElement();
    if (elem) {
      elem.removeAttribute("hidden")
    }
  }

  <% if ::Turnstile.enabled? %>
  setTimeout(() => {
    const elem = getTurnstileHiddenElement();
    if (elem) {
      elem.setAttribute("hidden", true)
    }
  }, 100);
  <% end %>
</script>

<% if ::Turnstile.enabled? %>
  <div class="cf-turnstile" data-sitekey="<%= ::Turnstile.site_key %>" data-callback="turnstileCallback"></div>
<% end %>
