:queues:
  - default

production:
  :concurrency: 25

:scheduler:
  :schedule:
    CleanupOldTasksJob:
      cron: '0 9 * * *'
      class: CleanupOldTasksJob

    PruneImagesJob:
      cron: '0 2 * * *'
      class: PruneImagesJob

    PurgeOrphanedActivestorageBlobsJob:
      cron: '0 11 * * *'
      class: PurgeOrphanedActivestorageBlobsJob
