<% if current_user.root? %>
  <div class="card p-2 bg-body-tertiary rounded mx-auto border border-info">
    <h6 class="card-title"><span class="text-info">Admin area</span></h6>
    <div class="card-body">
      <%= yield %>
    </div>
  </div>
<% end %>
