<li class="nav-item">
  <% if active.call %>
    <%= link_to text, path, class: 'nav-link active', 'aria-current' => 'page' %>
  <% else %>
    <%= link_to text, path, class: 'nav-link' %>
  <% end %>
</li>
