<% content_for :nested_layout do %>
  <div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 flex-shrink-0 bg-body-tertiary shadow rounded" >
      <ul class="nav flex-column nav-pills mb-auto">
        <% sidebar_entries.each do |page, title| %>
          <% if page %>
            <li class="nav-item fw-light ps-2">
              <%= link_to title, docs_page_path(page), class: "nav-link #{current_page == page ? 'active' : ''}" %>
            </li>
          <% else %>
            <li class="nav-item fw-bold">
              <i class="bi bi-list-ul me-2"></i><%= title %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="ms-4">
      <%= yield %>
    </div>

  </div>
<% end %>

<%= render template: 'layouts/application' %>
